<h1>Author</h1>
<p>
    <strong>Firstname:</strong>
    <%= @author.first_name %>
</p>

<p>
    <strong>Lastname:</strong>
    <%= @author.last_name %>
</p>

<p>
    <strong>Homepage:</strong>
    <%= @author.homepage %>
</p>